.name {
  flex: 1;
}

.rollups {
  gap: 6px;
  justify-content: flex-start;

  border: 1px dashed var(--gray-4);
  border-radius: 12px;
  color: var(--dimmed);
  font-size: 12px;
  font-weight: 500;
  padding: 12px 20px;

  &:hover {
    background-color: var(--gray-8);
  }
}

.version {
  color: var(--gray-4);
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 500;
}
