.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paste {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .icon {
    color: var(--gray-6);
  }
}

.myAddress {
  color: var(--gray-1);
}

.input {
  position: relative;
  .reset {
    position: absolute;
    padding: 10px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-3);
    background-color: var(--gray-7);

    &:hover {
      color: var(--gray-1);
    }
  }
}
