.wrapper {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid var(--border);
  padding: 0 var(--padding);
}

.label {
  display: flex;
  align-items: center;
  margin: 0;
}

.input {
  border: 0;
  background-color: transparent;
  padding: 0;
}
