.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 4px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
  overflow: hidden;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 12px;
  font-weight: 500;
}
