.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;

  background-color: var(--gray-8);

  &:hover {
    background-color: var(--gray-6);
  }
}

.content {
  flex: 1;
  overflow: hidden;
  text-align: left;
}

.name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.count {
  color: var(--gray-4);
  font-size: 12px;
  font-weight: 700;
}

.chevron {
  display: none;
  flex: none;
  color: var(--dimmed);

  .item:hover & {
    display: block;
  }
}
