.header {
  display: grid;
  gap: 12px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  word-break: break-all;
}

.attributes {
  margin-top: 28px;

  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .list {
    margin-top: 8px;
  }

  .item {
    display: grid;
    gap: 2px;

    border-bottom: 1px solid var(--border);
    margin: 0 calc(-1 * var(--padding));
    padding: 16px var(--padding);
  }

  .type {
    color: var(--gray-4);
    font-size: 12px;
    font-weight: 500;
  }

  .value {
    font-size: 14px;
    font-weight: 600;
  }
}
