.list {
  margin: calc(-1 * var(--padding));
}

.header {
  border-bottom: 1px solid var(--border);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  padding: 12px var(--padding);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--gray-6);
  border-radius: 2px;
  color: var(--gray-9);
  width: 14px;
  height: 14px;

  .toggle:hover &:not(.checked) {
    background-color: var(--gray-4);
  }

  &.checked {
    background-color: var(--gray-0);
  }
}

.item {
  border-bottom: 1px solid var(--border);
}
