.link {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  color: inherit;
  padding: var(--padding);
  padding-top: 16px;
  text-decoration: none;

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-8);
    color: inherit;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .success {
    color: var(--success);
  }

  .error {
    color: var(--error);
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--gray-2);
    font-size: 12px;
    font-weight: 500;
  }

  .explorer {
    color: var(--gray-3);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 4px;

    :last-of-type {
      color: var(--gray-1);
      font-family: var(--monospace);
    }
  }

  .divider {
    background-color: var(--gray-5);
    width: 1px;
    height: 8px;
  }
}

.route {
  display: grid;
  gap: 4px;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;

  .logoContainer {
    position: relative;

    .chainLogo {
      position: absolute;
      bottom: 0;
      right: -4px;
      border: 1px solid var(--gray-7);
      border-radius: 50%;
    }
  }
}

.asset {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 500;

  .amount {
    font-family: var(--monospace);
  }
}

.chain {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
}

.arrow {
  display: flex;
  justify-content: center;

  color: var(--dimmed);
  width: 32px;
}
