.root {
  display: grid;
  gap: 12px;
}

.toggle {
  justify-content: flex-start;
  gap: 4px;

  background-color: var(--gray-6);
  border-radius: 13px;
  height: 26px;
  font-size: 12px;
  font-weight: 600;
  padding: 0 12px;
  margin-left: auto;

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-5);
  }

  span {
    width: 82px;
    text-align: center;
  }
}

.route {
  background: var(--gray-8);
  border: 1px solid var(--gray-5);
  border-radius: 12px;
  padding: 24px 20px;
}

.content {
  overflow: hidden;
}

.content[data-state="open"] {
  animation: slideDown var(--transition) ease-out;
}

.content[data-state="closed"] {
  animation: slideUp var(--transition) ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
