.description {
  color: var(--dimmed);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 24px;
}

.presets {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.preset {
  flex: 1;

  border: 1px solid transparent;
  border-radius: 24px;
  height: 48px;

  background-color: var(--gray-7);
  color: var(--dimmed);
  font-family: var(--monospace);
  font-size: 14px;
  font-weight: 500;

  transition: all var(--transition) ease;

  &:hover:not(.active) {
    background-color: var(--gray-6);
    color: var(--gray-1);
  }

  &.active {
    border-color: var(--gray-1);
    color: var(--gray-0);
  }
}

.input {
  position: relative;

  .percent {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.warning {
  color: var(--gray-1);
  font-size: 16px;
  font-weight: 500;
}
