.list {
  display: grid;
  gap: 16px;
  font-size: 12px;
  padding: 16px 20px;
}

.key {
  font-weight: 600;
  margin-bottom: 2px;
}

.value {
  color: var(--gray-2);
  font-family: var(--monospace);
  font-weight: 500;
  word-break: break-all;
}
