:root[data-theme="dark"],
:host([data-theme="dark"]) {
  --gray-0: #f5f5f5;
  --gray-1: #d1d9e0;
  --gray-2: #a1a6aa;
  --gray-3: #757c82;
  --gray-4: #585f67;
  --gray-5: #383d42;
  --gray-6: #2f3337;
  --gray-7: #242629;
  --gray-8: #1b1c1d;
  --gray-9: #101010;

  --success-light: #77f893;
  --success: #55f678;
  --success-dark: #2b7b3c;
  --success-bg: #172a1b;
  --error-light: #f97676;
  --error: #f85454;
  --error-dark: #7c2a2a;
  --error-bg: #2a1515;
  --warning-light: #f9cf72;
  --warning: #f8c24f;
  --warning-dark: #7c6128;
  --warning-bg: #2b2416;
  --info-light: #74e3fc;
  --info: #51dcfb;
  --info-dark: #296e7e;
  --info-bg: #122327;
}

:root[data-theme="light"],
:host([data-theme="light"]) {
  --gray-0: #0a0a0a;
  --gray-1: #242628;
  --gray-2: #56595c;
  --gray-3: #797d81;
  --gray-4: #989b9e;
  --gray-5: #bec2c6;
  --gray-6: #c8ccd0;
  --gray-7: #dbdee1;
  --gray-8: #e3e6e9;
  --gray-9: #f5f5f5;

  --success-light: #00832a;
  --success: #109435;
  --success-dark: #afdebc;
  --success-bg: #d4f6dd;
  --error-light: #b50a1c;
  --error: #d1242f;
  --error-dark: #f6c3c4;
  --error-bg: #ffebe9;
  --warning-light: #c66f00;
  --warning: #d18800;
  --warning-dark: #eed888;
  --warning-bg: #fff7db;
  --info-light: #006bc6;
  --info: #037cd8;
  --info-dark: #a6d8ff;
  --info-bg: #ddf4ff;
}

:root,
:host {
  --bg: var(--gray-9);
  --border: var(--gray-7);
  --dimmed: var(--gray-3);

  --border-radius: 24px;
  --offset: 12px;
  --padding: 20px;
  --width: 420px;

  --font-family: "Pilat Wide", sans-serif;
  --monospace: "Roboto Mono", monospace;

  --transition: 150ms;
  --z-index: 9999;
}

:where(svg) {
  flex: none;
}

:where(a) {
  color: var(--info);

  transition: color var(--transition) ease;

  &:hover {
    color: var(--info-light);
  }
}

:where(label, .label) {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 6px;
}

:where(input, .input) {
  background-color: var(--gray-7);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  padding: 0 16px;
  width: 100%;

  &::placeholder {
    color: var(--gray-4);
  }

  transition: border-color var(--transition) ease;

  &:hover {
    border-color: var(--gray-4);
  }
}

:where(input) {
  &:focus {
    border-color: var(--gray-1);
    outline: none;
  }
}

:where(.success) {
  color: var(--success);
}

:where(.error) {
  color: var(--error);
}

:where(.warning) {
  color: var(--warning);
}

:where(.info) {
  color: var(--info);
}
