.scrollable {
  padding: 0;
}

.list {
  display: grid;
}

.item {
  flex: 1;
  gap: 8px;

  .name {
    flex: 1;
  }

  border-bottom: 1px solid var(--border);
  padding: 12px var(--padding);

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-8);
  }
}
