.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: var(--z-index);
}

.overlay.fullscreen {
  position: fixed;
}

.content {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: var(--z-index);

  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  border: 1px solid var(--gray-6);
  border-radius: 20px;
  overflow: hidden;
  min-height: 360px;
  max-height: calc(100% - 2 * 16px);
}

.content.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 720px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border);
  padding: 16px var(--padding);
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.close {
  color: var(--gray-4);

  &:hover {
    color: var(--gray-1);
  }
}
