.container {
  position: absolute;
  top: calc(var(--offset) + var(--padding) + 12px);
  left: 0;
  right: 0;
  padding: var(--padding);
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  background: var(--gray-8);
  border-radius: 8px;
  border: 1px solid var(--gray-6);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 16px;
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
}

.content {
  flex: 1;

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .description {
    color: var(--gray-2);
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
  }
}

.close {
  color: var(--gray-4);
  padding: 16px;
  margin: -16px;

  height: calc(21px + 2 * 16px);

  &:hover {
    color: var(--gray-1);
  }
}
