.tooltip {
  background-color: var(--gray-5);
  border-radius: 4px;
  color: var(--gray-0);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  max-width: 320px;
  padding: 8px;
  z-index: var(--z-index);
}

.arrow {
  fill: var(--gray-5);
}
