.content {
  margin: calc(-1 * var(--padding));
}

.search {
  margin-bottom: 20px;
}

.title {
  display: flex;
  gap: 4px;

  font-size: 12px;
  font-weight: 600;
  padding: 0 var(--padding);
  margin-bottom: 8px;

  .count {
    color: var(--gray-2);
  }
}

.list:last-of-type {
  margin-top: 28px;
}
