.item {
  display: flex;
  gap: 8px;
  align-items: center;

  border-bottom: 1px solid var(--border);
  padding: 12px var(--padding);
  min-height: 60px;
}

.header {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 4px;
}

.name {
  font-size: 14px;
  font-weight: 600;
}

.link {
  color: var(--dimmed);

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}

.description {
  color: var(--dimmed);
  font-size: 12px;
  font-weight: 500;
}

.button {
  color: var(--dimmed);
  padding: 4px;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
