.button {
  border-radius: calc(infinity * 1px);
  border: 1px solid var(--gray-3);
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 600;
  padding: 6px 24px;

  transition: border-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-8);
  }
}

.claimed {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--success);
}
