.title {
  padding: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-7);

  font-size: 20px;
  font-weight: 600;
}

.scrollable {
  padding: 0;

  .list {
    display: grid;
  }
}

.connector {
  gap: 12px;

  padding: 12px var(--padding);
  border-bottom: 1px solid var(--gray-7);

  flex: 1;
  overflow-y: auto;

  .name {
    flex: 1;
    font-size: 14px;
    font-weight: 600;
  }

  transition: background-color var(--transition) ease;

  &:hover:not(:disabled) {
    background-color: var(--gray-8);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
