.button {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  font-size: 14px;
  height: 44px;

  .name {
    flex: 1;
  }

  .icon {
    color: var(--dimmed);

    transition: color var(--transition) ease;
  }

  &:hover .icon {
    color: var(--gray-1);
  }
}
