.button {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 44px;

  .icon {
    color: var(--dimmed);

    transition: color var(--transition) ease;
  }

  &:hover .icon {
    color: var(--gray-1);
  }
}
